* {
  margin: 0;
  box-sizing: border-box;
}
.hero {
  background-image: url("/images/bg-main-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.card-front {
  margin-top: -105px;
}

.image_back {
  margin-left: 100px;
}

form {
  display: flex;
  flex-direction: column;

  margin: 20px;
}
#date {
  width: 60px;
  height: 40px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
